#callsign, #phone, #speedInputId, #altitudeInputId {
    width: 80px; /* Sätt bredden till en fast storlek istället för procent */
}

#units {
    width: 3em; /* Justera för att visa två siffror tydligt */
}
.route-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.route-row span {
    margin-left: 10px;
}